##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

### IntelliJ IDEA ###
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws


### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


*.class
target/
*.iml
.idea/
